body {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
}

p {
    margin: 0;
}

.Aligner {
}

.Aligner-item--top {

}

.title {
    width: 100%;
    margin: 0;
    padding: 10px;
}

.content {
    color: white;
    position: relative;
    height: 66vw;
    max-height: 90vh;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.separator {
    background: rgba(255, 255, 255, 0.7);
    height: 1px;
}

.message {
    display: block;
    width: 70vw;
    margin: auto;
    margin-top: 30px;
}

.textinput {
    display: block;
    width: 70vw;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid #ffffff;
    border-width: 1px;
    color: white;
    font-size: 100%;
    margin-top: 5px;
}

.button {
    text-decoration: none;
    background: #aaaaff;
    padding: 10px 20px;
    color: white;
    display: block;
    text-align: center;
    width: 100%;
    position:absolute;
    top:50%;
    font-size: 38px;
}

.footer {
    margin: 10px;
}
